<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class="upload-container">
        <h1>Upload an Image/Video for {{task}}</h1>
        <form action="/{{task}}base" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*, video/*" required>
            <button type="submit">Submit</button>
            
        </form>
        </div>
    </body>